.App {
  text-align: center;
}

.friends h1{
  font-size: 2rem;
  border-bottom: 3px solid grey;
  margin: 2rem 5rem 0;
}

.friend-holder{
  background-image: url(./components/friends.jpg);
}

.friend-card {
  border: 1px solid black;
  margin: 0 25rem 4rem;
  font-size: 1.5rem;
  background:white;
  box-shadow: 0.1rem 0.1rem black;
}